@media (max-width: 620px) {
    #Product{
        grid-template-columns: 1fr;
        column-gap: 100px;
    }
    #dataFollower{
        grid-template-columns: 1fr 1fr;
    }
    #productFollow{
        height: 120vh;
    }
    #bgText{
        transform: translate(350px, -140px);
        font-size: 10px;
    }
    #imgZaraWhite{
        transform: translate(-272px, 20px);
    }
    #seeButton{
        transform: translate(-270px, 180px);
        width: 160px;
        height: 50px;
    }
    #HeaderLeft{
        width: 100%;
        height: 65vh;
    }
    #HeaderRight{
        width: 100%;
        height: 100vh;
    }
    #headerDesc{
        width: 50%;
        height: 200px;
    }
    #img{
        height: 70vh;
        width: 100%;
        background-size: cover;
    }
    #ContentRight{
        padding: 0px;
        display: block;

    }
    #ContentWrapper{
        padding: 40px;
    }
    #womanBrown{
        width: 100%;
    }
    #footerTextProduct{
        width: 100%;
    }
    #imgProduct{
        width: 100%;
        background-size: cover;
    }
    #mapImg{
        width: 100%;
    }
  }
  